.card {
  width: 135px; /* 75% de 180px */
  height: 195px; /* 75% de 260px */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.375rem; /* 75% de 0.5rem */
  box-sizing: border-box;
  border-radius: 6px; /* 75% de 8px */
  background: #afa79e;
  font-size: 0.6375rem; /* 75% de 0.85rem */
  overflow: hidden;
  color: black;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  font-size: 0.75rem; /* 75% de 1rem */
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imageContainer {
  position: relative;
  color: white;
  font-size: 0.45rem; /* 75% de 0.9rem */
}

.classLine {
  position: absolute;
  bottom: -25px;
  left: -5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 75px;
  background-color: dimgray;
}

/* conteneur classe / alignement */
.classCircleWrapper {
  position: relative;
  width: 30px;
  height: 38px;
  border-radius: 50%;
}

/* Cercle extérieur (bordure dégradée) */
.classCircleBorder {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(135deg, yellow, orange, yellow);
  z-index: 0;
}

/* Cercle intérieur (fond gris + contenu) */
.classCircleContent {
  position: absolute;
  top: -14px; /* ajuster selon l’épaisseur de la “bordure” */
  left: 1px;
  width: 28px; /* 21 - 2*2 */
  height: 36px;
  background-color: #7f7f7f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.classIconImage {
  /* width: 75%;
  height: 75%; */
  object-fit: contain;
}

.levelText {
  position: absolute;
  top: 13px;
  left: 13px;
}

.factionLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem; /* 75% de 0.5rem */
  padding-top: 0.6rem;
}

.faction {
  font-size: 0.6rem; /* 75% de 0.8rem */
  font-weight: bold;
}

.trait {
  font-size: 0.6rem; /* 75% de 0.8rem */
}
